[submodule "conv_arithmetic"]
	path = conv_arithmetic
	url = https://github.com/vdumoulin/conv_arithmetic.git
[submodule "keras-filter-visualization"]
	path = keras-filter-visualization
	url = https://github.com/jacobgil/keras-filter-visualization.git
